body {
font-family: 'Montserrat', sans-serif;
}

.Logo-text {
    position: relative; 
    display: flex;
    align-items: center;
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    user-select: none;
  }

  .Logo-text::before {
    content: 'H';
    position: absolute;
    color: white;
    font-size: 40px; 
    left: 28.5px; 
    top: 50%; 
    transform: translate(-50%, -50%);
    font-weight: 700;
  }
  
  .Logo-text::after {
    content: "Ham"; 
    color: #18CFAB; 
    position: absolute;
    top: 16px;
    left: 100%;
    white-space: nowrap; 
    font-weight: 700; 
  }
  
  .Logo-text em {
    display: none; 
    font-weight: 700;
  }
  

.Logo {
    padding-right: 10px;   
}

.Logo::before {
    content: "H";
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.5em; 
    top: 0;
    left: -20px; 
    
  }
  
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 10;
  user-select: none;
  width: 100%;
  left: 0;
}

.navbar-content{
  width: 1902px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #5E5D5899;
  height: 120px;
}

.header-navbar-item{
    display: inline;
    padding: 15px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 24px;    
    position: relative;
    padding: 10px;
    font-weight: 700;
}

.header-navbar-item a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.header-navbar-item a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; 
  background-color: #18CFAB; 
  bottom: -47px;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
}

.header-navbar-item a:hover::after {
  transform: scaleX(1);
  transition: background-color 0.2s ease; 
}

ul.navbar-list li.header-navbar-item a {
  color: rgba(255, 255, 255, 0.60);
}

ul.navbar-list li.header-navbar-item a:hover {
    color: #18CFAB; 
    transition-duration: 100ms;
}

.search{
    width: 20px;
    height: 20px;
}

.background1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.section1 {
  width: 1903px;
  height: 940px;
  opacity: 0.8; 
  display: flex;
  margin: auto;
}

.centered-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  justify-content: center;
}

.text-up {
font-size: 35px;
color: #fff;
text-transform: uppercase;
user-select: none;
font-weight: 700;
}

.text-up em{
  color: #18CFAB;
  font-style: normal;
  user-select: none;
}

.text-centr{
  font-size: 78px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  user-select: none;
}

.tekst-down {
  color: #D4D4D4;
  text-align: center;
  font-size: 34px;
  font-style: normal;
  line-height: 1px;
  padding-top: 20px;
  user-select: none;
}

.buttup {
  position: absolute;
  display: flex;
  align-items: center;
  user-select: none;
  justify-content: center;
  margin-top: 540px; 
}

.EXPLORE{
  background-color: #18CFAB;
  width: 169px;
  height: 63px;
  flex-shrink: 0;
  border-radius: 6px;
  margin-right: 30px;
  color: #fff;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top-width: 5px;
  border-top-color: #fff;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.PURCHASE{
  background-color: #00CBF6;
  width: 169px;
  height: 63px;
  flex-shrink: 0;
  border-radius: 6px;
  color: #fff;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top-width: 5px;
  border-top-color: #fff;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.buttup button.EXPLORE:active {
  background-color: #18CFAB; 
  transform: scale(0.95); 
  border-top: 5px solid white;
}

.buttup button.PURCHASE:active {
  background-color: #00CBF6; 
  transform: scale(0.95); 
  border-top: 5px solid white;
}

.header-menu-items{
  display: grid;
  grid-template-areas: 
  "f1 f1 f2 f2 f3 f3 f4 f4"
  "f1 f1 f2 f2 f3 f3 f4 f4"; 
  justify-content: center;
  padding-top: 5px; 
  text-transform: uppercase; 
}

.header-item-1 {
  background-color: #1C2A33;
    grid-row: f1; 
    width: 481px;
    height: 377px;
    color: #18CFAB;
    line-height: normal;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    user-select: none;
    font-weight: 700;
}

.img-1{
  width: 57.545px;
  height: 97px;  
  padding-bottom: 40px;
}

.text-logo-1{
  font-size: 20px;
}

.header-item-2{
  background-color: #18CFAB;
  grid-row: f2;
  width: 474px;
  height: 377px;
  color: #FFF;
  line-height: normal;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  user-select: none;
  font-weight: 700;
}

.img-2{
  width: 94px;
  height: 82px;
  padding-bottom: 52px;  
}

.text-logo-2{
  font-size: 20px;
}

.header-item-3{
  background-color: #1C2A33;
  grid-row: f3;
  width: 474px;
  height: 377px;
  color: #18CFAB;
  line-height: normal;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  user-select: none;
  font-weight: 700;
}

.img-3{
  width: 60px;
  height: 96px;
  padding-bottom: 40px;
}

.text-logo-3{
  text-align: center;
  font-size: 20px;
}

.header-item-4{
  background-color: #18CFAB;
  grid-row: f4;
  width: 474px;
  height: 377px;
  color: #fff;
  line-height: normal;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  user-select: none;
  font-weight: 700;
}

.img-4{
  width: 102px;
  height: 80px;
  padding-bottom: 52px;
}

.text-logo-4{
  text-align: center;
  font-size: 20px;
}

main {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 0; 
}

.main-container {
  width: 1160px;
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 100px;
  
}

.title-2 {
  color: #4E4E4E;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  user-select: none;
}

.Style-copy {
  width: 91px;
  height: 8px;
  margin-bottom: 50px;
  user-select: none;
}



/* centered-content */

ul {
  list-style: none;
}

.centered-content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}

.tabs {
  display: flex;
  font-size: 16px;
  padding: 0px;
  margin-bottom: 30px;
}

.tabs-title {
  width: 195px;
  height: 76px; 
  background-color: #f2f2f261;
  color: #717171;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1.5px solid transparent; 
  transition: border-color 0.3s;
  position: relative;
}

.cursor {
  position: absolute;
  bottom: -11px; 
  visibility: hidden;
}

.tabs-title.active {
  background-color:#18CFAB ;
  color: #ffffff;
  
}

.tabs-content{
  display: flex;
}

.Our-Services-images{
  width: 195px;
  height: 139px;
  margin-right: 20px;
}

.tab {
  display: none;
  align-items: center;
}

.tab.active {
  display: flex; 
}

.tabs-title:hover {
  border-color: #18CFAB; 
}

#web-design {
  display: flex; 
}

.Our-Services-text{
  color: #777;
  font-size: 13.645px;
  font-style: normal;
  font-weight: 300;
  line-height: 24.366px;
  display: flex;
  text-align: justify;
}




/*Purch*/

.purch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.purch-img {
    width: 1903px; 
  height: 476px;
  margin-top: 120px;
}

.purch-text {
  text-align: center;
  position: absolute;
  margin-top: 140px;
}

.purch-text h1{
  color: #18CFAB;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 40.455px; 
text-transform: uppercase;
margin-bottom: 20px;
}

.purch-text p{
  color: #D8D8D8;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.PURCH {
background-color: #18CFAB;
width: 169px;
height: 63px;
border-radius: 6px;
color: #fff;
border-left: none;
border-right: none;
border-bottom: none;
border-top-width: 5px;
border-top-color: #fff;
font-weight: 700;
font-size: 15px;
margin-top: 65px;
cursor: pointer;
user-select: none
}

.PURCH:active {
  background-color: #18CFAB; 
  transform: scale(0.95); 
  border-top: 5px solid white;
}


footer {
  display: flex;
  justify-content: center; 
  flex-direction: column; 
}




.Style-copy img {
  width: 91px;
  height: 8px;
  margin-bottom: 50px;
  user-select: none
}

.title-3 {
  color: #4E4E4E;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  user-select: none;
}




/* -----------------------------------------ЭТОТ БЛОК ------------------------------------------------------------------- */
/*Our Amazing Work*/

.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
  text-align: center;
  gap: 24px;
  padding-bottom: 80px; 
}

.background2{
  background-color: #E9EDEF;
  width: 1902px;
  margin: auto;
}

.Our-Amazing-Work ul {
  list-style: none;
  padding-left: 0;
}

.Our-Amazing-Work {
  height: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: contents; 
  user-select: none;
  position: relative;
}

.Our-tabs {
  display: flex;
  border: 1.5px solid #c9c9c970;
}

.Our-buttabs{
  display: flex;
  background-color: #23201D;
  font-size: 14px;  
}

.Our-title {
  padding: 16px;
  background-color: #f2f2f247;
  color: #717171;
  cursor: pointer;
  user-select: none;
  border: 1.5px solid transparent; 
  transition: border-color 0.3s;
  align-items: center;
}

.Our-title.active {
  border: 1.5px solid #DADADA;
  background: rgba(0, 0, 0, 0.00);
  user-select: none
}

.Our-title:hover {
  border-color: #18CFAB; 
  color: #18CFAB;
}

.Graphic-Design {
  grid-area: f1; 
}

.Web-Design {
  grid-area: f2; 
}

.Landing-Pages {
  grid-area: f3; 
}

.Wordpress {
  grid-area: f4; 
}

.Our-Work-Images{
  padding-top: 70px;
  width: 1160px;
  display: grid;
  grid-template-areas: 
  "f1 f2 f3 f4"
  "f1 f2 f3 f4"
  "f1 f2 f3 f4";
  grid-gap: 0;
  justify-items: center;
  align-items: center;  
}

.hover-img {
  display: none;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  width: 280px;
  height: 205px;
  border-top: 3px solid #18CFAB;
}

.hover-trigger:hover .hover-img{
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  cursor: pointer; 
}

.hover-trigger:hover .image{
  display: none;
  
}

.hover-trigger{
  padding: 0px;
  border-top: 3px solid #E9EDEF;
}

.hover-img h1{
  color: #18CFAB;
  font-size: 14.177px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.185px; 
  text-transform: uppercase;
  margin-top: 30px;
}

.hover-img p{
  color: #8A8A8A;
font-size: 12.152px;
font-style: normal;
font-weight: 300;
line-height: 25.185px; 
}

.load{
  background-color: #18CFAB;
  width: 169px;
  height: 63px;
  flex-shrink: 0;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  border: none;
  text-transform: uppercase;
  display: flex;  
  align-items: center;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 30px;
}

.load:active {
  background-color: #18CFAB; 
  transform: scale(0.95); 
}

/* -----------------------------------------ЭТОТ БЛОК ------------------------------------------------------------------- */


/*Breaking News*/

.container-BN{
  justify-content: center;
  margin-top: 100px;
}

.title-4{
  color: #4E4E4E;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  user-select: none;
}

.Style-copy-BN{
  user-select: none;
}

.image-grid {
  display: grid;
  grid-template-areas: 
  "f1 f2 f3 f4"
  "f5 f6 f7 f8";
  width: 1160px;
  row-gap: 120px;
  justify-content: space-between;
  align-items: center;
   margin: auto;
   padding-top: 70px;
   user-select: none;
}

.image-card {
  position: relative;
  width: 263px;
  height: 208px;
  flex-shrink: 0;
}

.image-card img {
  max-width: 100%;
  display: block;
}

.image-label {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #203E38;
  color: white;
  padding: 5px;
  width: 60px;
  height: 55px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
}

.label-number {
  display: flex;
}

.label-unit {
  display: flex; 
}

.image-info {
 display: flex;
  padding: 5px;
  text-align: center;
  flex-direction: column;
  user-select: none;  
}

.image-title {
  color:  #717171;;
text-align: center;
font-family: Montserrat;
font-size: 17.988px;
font-style: normal;
font-weight: 700;
line-height: 38.942px; 
}

.image-author {
  font-size: 14px;
  color: #888;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-bn{
  width: 263px;
  height: 208px;
  flex-shrink: 0;
  cursor: pointer;
}

.img-bn:active{
  transform: scale(0.95); 
}

.img-bn-hover:hover+.image-info .image-label {
  background-color: #18CFAB;
  transition: 0.3s;
}

.img-bn-hover:hover+.image-info .image-title {
  color: #18CFAB;
  transition: border-color 0.3s;
}


/*What People*/

.What-People-container{
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 180px;
}

.img{
  width: 60px;
  height: 59px;
}

.wp-img{
  width: 1903px;
  height: 920px; 
}

.What-People-text{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    padding-bottom: 50px;  
}

.title-5{
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  user-select: none;
  margin-top: 110px;
}

.shape{
  padding-top: 60px;
  padding-bottom: -20px;
  user-select: none;
} 

.WP-text{
  position: absolute;
  top: 310px;
  width: 1160px;
  display: flex;
  text-align: center;
  color: #BBBBBB;
  font-weight: 300;
  line-height: 30px;
  flex-direction: column;
  user-select: none;
}

.WP-text h1{
  color: #18CFAB;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  padding-top: 20px;
  user-select: none;
}

.position{
  color: #bbbbbbc0;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  padding-top: 5px;
  user-select: none;
}

.slider{
  position: absolute;
  width: 350px;
  top: 495px;
  margin-left: 20px;

  
}

.slider-for img{
  border: 10px solid rgba(0, 255, 242, 0.226);
  border-radius: 100%;
  width: 143px;
  height: 142px;
  display: flex;
  margin-left: 82px;
  margin-bottom: 40px;
}

.slider-nav img{
  border: 5px solid rgba(0, 255, 242, 0.226);
  border-radius: 100%;
  cursor: pointer;
  
}

.slick-next{
  border: 1px solid rgba(235, 235, 235, 0.226);
  border-radius: 5px;
  width: 35px;
  height: 35px;
  transition: background-color 0.3s;
  transform: translate(18px, -10px);
}

.slick-prev{
  border: 1px solid rgba(235, 235, 235, 0.226);
  border-radius: 5px;
  width: 35px;
  height: 35px;
  transition: background-color 0.3s;
  transform: translate(-36px, -10px);
}

.slick-next:hover{
  background-color: #18CFAB;
}

.slick-prev:hover{
  background-color: #18CFAB;
}


.slick-list{
  padding: 0px!important;
  padding-top: 15px!important;
  }


/*Copyright*/

.Copyright {
  width: 1903px;
height: 121px;
background-color: #22353F;
display: flex;
margin: auto;
align-items: center;
justify-content: center;
}

.Copyright p{
  color: #AEAEAE;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  user-select: none;
} 

.Copyright a{
  color: #18CFAB;
}



